/* ////////////////////////////////////////////////// */
/* // START_PageBackground // */

/* DefaultBodyInformation */
body {
	background-color: #272727;
	color:            #000000;
}

/* // END_PageBackground // */
/* ////////////////////////////////////////////////// */
/* // START_CustomScrollBarSetup // */

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); 
}

/* // END_CustomScrollBarSetup // */
/* ////////////////////////////////////////////////// */
/* // START_DIVDefinitions // */

/* PageShell */
.BoundingBox {
	display: block;
	width:    100%;
}
/* OuterContainmentBox */
.OuterContainmentBox {
	display: block;
	width:    100%;
}
/* InnerContainmentBox */
.InnerContainmentBox {
	display: block;
	width:    100%;
}
/* HeaderBox */
.HeaderBox {
	display: block;
	float:    left;
	width:    100%;
	height:  150px;
	margin-bottom: 5px;
	border-radius: 2px;
	background-color: rgba(0,0,0, 0.7);
	background-image: url('Resources/Image_HeaderBox.png');
	background-position:  center;
	background-size:     contain;
	background-repeat: no-repeat;
	position: relative;
}
/* NavBox */
.NavBox_01 {
	display: block;
	float:   right;
	margin-bottom: 5px;
	width:   75%;
	height: 70px;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0.445);
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
	position: relative;
}
.NavBox_01:hover {
	width: 90%;
	background-color: #ff6a00;
}
/* LinkBox */
.blocknav {
	position: absolute;
	width:        100%;
	height:       100%;
	top:             0;
	left:            0;
	z-index:        10;
}
/* ContentBoxes */
.ContentBox_01 {
	display: block;
	clear:    both;
	margin-bottom: 5px;
	width:    80%;
	height: 220px;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0.445);
	position: relative;
	overflow: auto;
}
.ContentBox_01:hover {
	background-color: rgba(0, 0, 0, 0.7);
}
.ContentBox_02 {
	display: block;
	float:   right;
	margin-left:   5px;
	margin-bottom: 5px;
	width:  62px;
	height: 62px;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0.445);
	background-position:  center;
	background-size:     contain;
	background-repeat: no-repeat;
	position: relative;
}
.ContentBox_02:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

.ContentBox_03 {
	display: block;
	float:   right;
	margin-bottom: 5px;
	width: 100%;
	height: 124px;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0.445);
	background-image: url('Resources/Image_Homepage_01.png');
	background-position:    left;
	background-size:     contain;
	background-repeat: no-repeat;
	position: relative;
}
.ContentBox_03:hover {
	background-color: rgba(0, 0, 0, 0.7);
}
.ContentBox_04 {
	display: block;
	float:    left;
	width:    75%;
	height: 671px;
	margin-bottom: 5px;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0.445);
	background-image: url('Resources/Image_Homepage_07.png');
	background-position:    left;
	background-size:     contain;
	background-repeat: no-repeat;
	position: relative;
}
.ContentBox_04:hover {
	background-color: rgba(0, 0, 0, 0.7);
}
.ContentBox_05 {
	display: block;
	float:   right;
	margin-left:   5px;
	margin-bottom: 5px;
	width:  296px;
	height: 148px;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0.445);
	background-position:    left;
	background-repeat: no-repeat;
	-webkit-transition: width 0.5s;
	transition: width  0.5s;
	position: relative;
}
.ContentBox_05:hover {
	background-color: #ff6a00;
}
.ContentBox_06 {
	display: block;
	float:   right;
	margin-left:   5px;
	margin-bottom: 5px;
	width:    80%;
	height: 411px;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0.445);
	position: relative;
	overflow: auto;
}
.ContentBox_06:hover {
	background-color: rgba(0, 0, 0, 0.7);
}
.FooterBox {
	display: block;
	float:    left;
	margin-bottom: 5px;
	width:  100%;
	height: 33px;
	border-radius: 2px;
	background-color: #ff6a00;
	position: relative;
}

/* // END_DIVDefinitions // */
/* ////////////////////////////////////////////////// */
/* // START_FontDefinitions // */

/* NavBox */
p {
	text-align:  center;
	font-family:  arial;
	font-size:    1.1em;
	color: #d4d4d4;
	margin: 0 auto;
	padding-top: 26px;
}
/* Content */
h1 {
	text-align:  center;
	font-family:  arial;
	font-size:      1em;
	color:    #d4d4d4;
	margin:      0 auto;
	padding-top:   25px;
	padding-left:  30px;
	padding-right: 30px;
}
h2 {
	text-align:  center;
	font-family:  arial;
	font-size:      1em;
	color:    #d4d4d4;
	margin:      0 auto;
	padding-top:   10px;
	padding-left:  30px;
	padding-right: 30px;
}
h3 {
	text-align:  center;
	font-family:  arial;
	font-size:      1em;
	color:    #d4d4d4;
	margin:      0 auto;
	padding-top:   15px;
	padding-left:  30px;
	padding-right: 30px;
}
h4 {
	text-align:    left;
	font-family:  arial;
	font-size:    0.8em;
	color:    #d4d4d4;
	margin:      0 auto;
	padding-top:   10px;
	padding-left:  75px;
	padding-right: 30px;
}
h5 {
	text-align:   center;
	font-family:   arial;
	font-size:       1em;
	color:     #d4d4d4;
	margin:       0 auto;
	padding-top:    10px;
	padding-left:   30px;
	padding-right:  30px;
	padding-bottom: 25px;
}
h6 {
	text-align:    left;
	font-family:  arial;
	font-size:      1em;
	color:    #d4d4d4;
	margin:      0 auto;
	padding-top:    8px;
	padding-left:  30px;
	padding-right: 30px;
}

/* // END_FontDefinitions // */
/* ////////////////////////////////////////////////// */
/* // START_MediaQueries // */

/* 1stQuery_TabletDevice */
@media only screen and (min-width:550px){
	.ContentBox_04 {
		width: 40%;
	}
	.ContentBox_06 {
		width:    55%;
		height: 600px;
	}
}

/* 2ndQuery_DesktopDevice */
@media only screen and (min-width:1028px){
	body {
		background-color: #000000;
	}
	.BoundingBox {
		margin:  auto;
		height: 760px;
		background-image: url('Resources/PageBackground_Monitor.png');
		background-repeat: no-repeat;
		background-position:  center;
	}
	.OuterContainmentBox {
		padding-top: 46px;
		margin:      auto;
		width:      894px;
		height:     671px;
	}
	.InnerContainmentBox {
		height:   100%;
		overflow: auto;
	}
	.HeaderBox {
		margin-bottom: 2px;
		height:      250px;
	}
	.NavBox_01 {
		margin-bottom: 3px;
		width:         50%;
	}
	.NavBox_01:hover {
		width: 60%;
	}
	.ContentBox_01 {
		margin-bottom: 3px;
		width:    90%;
		height: 220px;
	}
	.ContentBox_02 {
		margin-left:   3px;
		margin-bottom: 3px;
	}
	.ContentBox_03 {
		margin-bottom: 3px;
		width:         75%;
	}
	.ContentBox_04 {
		width:    30%;
	}
	.ContentBox_05 {
		margin-left:   3px;
		margin-bottom: 3px;
		width:       148px;
	}
	.ContentBox_05:hover {
		width: 296px;
	}
	.ContentBox_06 {
		margin-left:   3px;
		margin-bottom: 3px;
		width:       69.6%;
		height:      411px;
	}
	.FooterBox {
		margin-left:   3px;
		width:       69.6%;
	}
	p {
		font-size:    1.5em;
		padding-top:   23px;
	}
	h4 {
		font-size:    1em;
		padding-top: 20px;
	}
}

/* // END_MediaQueries // */
/* ////////////////////////////////////////////////// */
